﻿@model IEnumerable<CoinVM>

@{
    ViewData["Title"] = "Home Page";
}
<script src="https://kit.fontawesome.com/10c353b89d.js" crossorigin="anonymous"></script>
<div class="text-center">
    <h1 class="display-4">Cryptocurrency Information</h1>
    <div class="container text-center">
        <div class="row">
            <div class="row align-content-center">
                <form asp-action="Index" class="form-inline mb-3" method="get">
                    <div class="form-group d-flex ">
                        <div class="mx-auto">
                            <input type="text" class="form-control" name="input" placeholder="Search by Name">
                            <button type="submit" class="btn btn-outline-primary" title="Search"><i class="fas fa-search-dollar"></i></button>
                            <a class="btn btn-success" asp-controller="Home" asp-action="ExportToExcel" title="Export to Excel"><i class="fas fa-file-excel"></i></a>
                            <a class="btn btn-danger" asp-controller="Home" asp-action="ExportToPdf" title="Export to Pdf"><i class="fas fa-file-pdf"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<table class="table table-hover table-striped table">
    <thead>
        <tr>
            <th>
                Coin name
            </th>
            <th>
                Symbol
            </th>
            <th>
                Rank
            </th>
            <th>
                Price in USD
            </th>
            <th>
                Supply
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.symbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.priceUsd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.supply)
                </td>
            </tr>
        }
    </tbody>
</table>

