﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container p-3">
    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Congue eu consequat ac felis donec et. In hendrerit gravida rutrum quisque non tellus.
        Venenatis tellus in metus vulputate. Vivamus arcu felis bibendum ut. Nulla facilisi morbi
        tempus iaculis urna id volutpat lacus. Elit pellentesque habitant morbi tristique senectus et.
        Turpis cursus in hac habitasse platea dictumst quisque sagittis purus. Eget magna fermentum iaculis eu.
        Aliquet risus feugiat in ante metus dictum at. In egestas erat imperdiet sed euismod. Scelerisque in
        dictum non consectetur. Adipiscing tristique risus nec feugiat in fermentum posuere urna. Eget mauris
        pharetra et ultrices neque ornare. Justo donec enim diam vulputate ut pharetra sit.
        Dictumst quisque sagittis purus sit amet volutpat consequat. Nunc non blandit massa enim nec.
        Blandit libero volutpat sed cras ornare arcu dui.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Congue eu consequat ac felis donec et. In hendrerit gravida rutrum quisque non tellus.
        Venenatis tellus in metus vulputate. Vivamus arcu felis bibendum ut. Nulla facilisi morbi
        tempus iaculis urna id volutpat lacus. Elit pellentesque habitant morbi tristique senectus et.
        Turpis cursus in hac habitasse platea dictumst quisque sagittis purus. Eget magna fermentum iaculis eu.
        Aliquet risus feugiat in ante metus dictum at. In egestas erat imperdiet sed euismod. Scelerisque in
        dictum non consectetur. Adipiscing tristique risus nec feugiat in fermentum posuere urna. Eget mauris
        pharetra et ultrices neque ornare. Justo donec enim diam vulputate ut pharetra sit.
        Dictumst quisque sagittis purus sit amet volutpat consequat. Nunc non blandit massa enim nec.
        Blandit libero volutpat sed cras ornare arcu dui.        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Congue eu consequat ac felis donec et. In hendrerit gravida rutrum quisque non tellus.
        Venenatis tellus in metus vulputate. Vivamus arcu felis bibendum ut. Nulla facilisi morbi
        tempus iaculis urna id volutpat lacus. Elit pellentesque habitant morbi tristique senectus et.
        Turpis cursus in hac habitasse platea dictumst quisque sagittis purus. Eget magna fermentum iaculis eu.
        Aliquet risus feugiat in ante metus dictum at. In egestas erat imperdiet sed euismod. Scelerisque in
        dictum non consectetur. Adipiscing tristique risus nec feugiat in fermentum posuere urna. Eget mauris
        pharetra et ultrices neque ornare. Justo donec enim diam vulputate ut pharetra sit.
        Dictumst quisque sagittis purus sit amet volutpat consequat. Nunc non blandit massa enim nec.
        Blandit libero volutpat sed cras ornare arcu dui.
    </p>
</div>